<!DOCTYPE html>
<html>
  <head>
    <title>Medical Cabinet - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <style>
    body {
      background-image: url('https://github.com/Med-Cabinet-37/Med-Cabinet/blob/main/images/cannabis.jpg?raw=true');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    div.transbox {
      background-color:aliceblue;
      opacity: 0.7;
      margin:0 auto;
    }
    div.transbox p {
      color: black;
    }
  </style>
  <body>
    

    <nav>
      <a href="/" class="brand"><span>Find the most appropriate strain of medicinal marijuana for medical conditions</span></a>
    </nav>


    <article class="flex two" style="padding: 4em 1em;">
      {% block content %}
      <div class="transbox">
        <form id="input-form" action="/find" method="post">
          <input type="text" name="user_text" placeholder="Enter medical ailments and flavor preferences">
          <input type="submit" value="Find Strain">
        </form>
        <h3 id='strain-name'></h3>
        <p id='strain-effects'></p>
        <p id="strain-description"></p>
      </div>
      {% endblock %}
    </article>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  </body>
  <script>
    let form = document.getElementById("input-form")
    let results = document.getElementById("strain-name")
    let description = document.getElementById("strain-description")
    let effects = document.getElementById("strain-effects")
    form.addEventListener("submit", e => {
      e.preventDefault()
      const formData = new FormData(form)

      fetch('/find', {
        method: "POST",
        body: formData,
      }).then(response => response.json())
      .then(result => {
        results.innerText = "Strain Name: " + result['strain']
        effects.innerText = "Effects: " + result['effects']
        description.innerText = "Description: " + result['description']})
    }
    )
  </script>
</html>