<!DOCTYPE html>
<html>
  <head>
    <title>Medical Cabinet - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <style>
    body {
      background-image: url('https://github.com/Med-Cabinet-37/Med-Cabinet/blob/main/images/cannabis.jpg?raw=true');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    div.transbox {
      background-color:aliceblue;
      opacity: 0.78;
      margin:0 auto;
    }
    div.transbox p {
      color: black;
    }
  </style>
  <body>
    

    <nav>
      <a href="/" class="brand"><span>Find the most appropriate strain of medicinal marijuana for medical conditions</span></a>
    </nav>


    <article class="flex two" style="padding: 4em 1em;">
      {% block content %}
      <div class="transbox">
        <p>Med Cabinet is for new cannabis consumers, especially those trying to get off of pharmaceuticals, who want to use cannabis as a means to battle medical conditions and ailments.</p>
        <form id="input-form" action="/find" method="post">
          <input type="text" name="user_text" placeholder="Enter medical ailments and flavor preferences">
          <input type="submit" value="Find Strain">
        </form>
        <h3 id='strain-name'></h3>
        <p id='strain-effects'></p>
        <p id="strain-description"></p>
        <h3>Methodology</h3>
        <p>
          This web application was created using neuro-linguistic
           programming techniques and a neural network model. 
        </p>
        <p>
          The model was trained from vector representation of the 
          text describing the effects, flavors, and description 
          of each strain. Word similarity was used to expand 
          the data by 10 times its original size to facilitate 
          more accurate results.
        </p> 
        <p>
          Using Spacy's en_core_web_md model, we were able to 
          achieve 99% validation accuracy with our data! 
          The model deployed to Heroku was trained with Spacy's 
          small model, to accomodate for size restrictions.
        </p>
        <p>
          This model and web app were authored 
          by Nathan McDonough and Tomás Phillips.
        </p>
      </div>
      {% endblock %}
    </article>
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
  </body>
  <script>
    let form = document.getElementById("input-form")
    let results = document.getElementById("strain-name")
    let description = document.getElementById("strain-description")
    let effects = document.getElementById("strain-effects")
    form.addEventListener("submit", e => {
      e.preventDefault()
      const formData = new FormData(form)

      fetch('/find', {
        method: "POST",
        body: formData,
      }).then(response => response.json())
      .then(result => {
        results.innerText = "Strain Name: " + result['strain']
        effects.innerText = "Effects: " + result['effects']
        description.innerText = "Description: " + result['description']})
    }
    )
  </script>
</html>